[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.2.0"
django-jazzmin = "*"
django-modeltranslation = "*"
drf-yasg = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
setuptools = "*"

[dev-packages]

[requires]
python_version = "3.12"
